@media (max-width: 1439px) {
	.sidepanel {
		display: none;
	}
}
@media (max-width: 1200px) {
		.container {
			max-width: 960px;
		}
		.sidepanel {
			display: none;
		}
		.about {
			&__wrapper {
				grid-template-columns: 400px 520px;
				column-gap: 40px;
			}
			&__skills {
				column-gap: 20px;
				grid-template: repeat(2, minmax(115px, auto)) / repeat(2,250px);
				&-item {
					grid-template-columns: 40px 195px;
					column-gap: 15px;
				}
			}
		}
		.resume {
			&__wrapper {
				padding: 40px 20px 0 20px;
				column-gap: 80px;
			}
		}
		.stack {
			&__wrapper {
				grid-template-columns: repeat(auto-fit,270px);
				justify-content: space-between;
			}
			&__ratings {
				grid-template-columns: repeat(auto-fit,350px);
				grid-auto-rows: minmax(70px,auto);
				justify-content: space-between;
				padding: 0 30px;
			}
		}
		.portfolio {
			&__wrapper {
				grid-template-columns: repeat(auto-fit, 280px );
				grid-auto-rows: 280px;
				justify-content: space-around;
				row-gap: 20px;
				.vertical, .horizontal {
					grid-column: unset;
					grid-row: unset;
				}
			}
		}
		.portfolio {
			padding-top: 40px;
		}
		.contacts {
			&__wrapper {
				justify-content: start;
				grid-template-columns: 400px 560px;
				column-gap: 40px;
			}
			&__form {
				justify-content: start;
				grid-template-columns: repeat(2, 200px);
				column-gap: 20px;
			}
			&__triggers {

			}
			&__btn {
				height: 50px;
				line-height: 18px;
			}
		}
	}
	@media (max-width: 992px) {
		.container {
			max-width: 720px;
		}
		.title {
			&_fz36 {
				font-size: 30px;
			}
		}
		.about {
			&__wrapper {
				grid-template-columns: 300px 380px;
			}
			&__skills {
				grid-template-columns: 380px;
				grid-auto-rows: minmax(115px, auto);
			}
			&__skill {
					grid-template-columns: 40px 320px;
					column-gap: 20px;
			}
		}
		.resume {
			&__wrapper {
				grid-template-columns: repeat(2, 320px);
				column-gap: 60px;
			}
		}
		.stack {
			&__wrapper {
				padding: 0 20px;
			}
			&__ratings {
				grid-template-columns: repeat(auto-fit,320px);
				justify-content: space-between;
				padding: 0;
				column-gap: 0;
				&-line {
					width: 100%;
				}

			}
		}
		.price {
			&__wrapper {
				grid-template-columns: repeat(auto-fit, 350px);
				padding: 0;
			}
		}
		.contacts {
			&__wrapper {
				justify-content: start;
				grid-template-columns: 300px 560px;
				column-gap: 40px;
			}
		}
	}
	@media (max-width: 768px) {
		.container {
			max-width: 540px;
		}
		.title {
			&_fz48 {
				font-size: 28px;
			}
		}
		.promo {
			&__title {
				line-height: 39px;
				width: 300px;
			}
		}
		.about {
			padding-top: 40px;
			&__wrapper {
				grid-template: 400px auto auto / 1fr;
			}
			&__img {
				grid-row: unset;
			}
			&__skills {
				grid-template-columns: repeat(2, 260px );
			}
			&__skill {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
		.resume {
			padding-top: 40px;
			&__wrapper {
				grid-template-columns: 1fr;
				row-gap: 40px;
			}
		}
		.stack {
			&__wrapper {
				padding: 0;
				justify-content: center;
				gap: 20px;
			}
			&__ratings {
				justify-content: center;
			}
		}
		.stack {
			&__wrapper {
				padding: 0;
				justify-content: center;
				gap: 20px;
			}
		}
		.price {
			&__wrapper {
				margin-top: 20px;
				justify-content: center;
			}
		}
		.contacts {
			&__wrapper {
				grid-template-columns: 540px;
				column-gap: 0;
			}
			&__img {
				display: none;

			}
			&__form {

			}
			&__input {
				input {
					display: block;
				}
			}
		}
	}
	@media (max-width: 576px) {
		.container {
			width: 100%;
			padding: 0 10px;
		}
		.devider {
			margin-top: 15px;
		}
		.title {
			&_fz48 {
				font-size: 26px;
			}
			&_fz36 {
				font-size: 24px;
			}
		}
		.burger {
			right: 20px;
		}
		.menu__block {
			width: 250px;
			padding-left: 20px;
		}
		.promo {
			&__buttons {
				margin-top: 30px;
			}
		}
		.about {
			&__title {
				line-height: 36px;
				margin-top: 20px;
			}
			&__wrapper {
				grid-template: 340px auto auto / 1fr;
			}
			&__skills {
				grid-template-columns: 1fr;
			}
		}
		.stack {
			padding-top: 40px;
			&__wrapper {
				margin-top: 20px;
			}
			&__subtitle {
				line-height: 36px;
				margin-top: 26px;
			}
			&__ratings {
				grid-template-columns: repeat(auto-fit,300px);
				margin-top: 40px;
			}
		}
		.portfolio{
			&__wrapper {
			padding-top: 40px;
			}
			&__subtitle {
				margin-top: 26px;
				margin-bottom: 0;
			}
		}
		.price {
			&__wrapper {
				grid-template-columns: repeat(auto-fit, 295px);
			}
		}
		.contacts {
			padding-top: 40px;
			padding-bottom: 50px;
			&__wrapper {
				padding: 0;
				grid-template-columns: 300px;
			}
			&__form {
				grid-template: 45px 45px 145px minmax(45px,auto) / 1fr;
			}
			&__textarea {
				grid-column: unset;
			}
			&__triggers {
				grid-column: unset;
				grid-template-columns: 1fr;
				column-gap: unset;
				row-gap: 20px;
				.contacts__btn {
					max-width: 220px;
					margin: 0 auto;
					order: 1;
				}
				.contacts__policy {
					max-width: 180px;
					margin: 0 auto;
				}
			}
		}
	}
